@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Nunito';
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito';

}

h1 {
    color: #006CD2;
    font-size: 50px;
}

h2 {
    color: #333;
    font-size: 38px;
    font-weight: 700;
}

h3 {
    color: #006CD2;
    font-size: 26px;
    font-weight: 600;

}

h4 {
    color: #333;
    font-size: 24px;
    font-weight: 600;

}

h5 {
    color: #333;
    font-size: 20px;
    font-weight: 700;
}



h6 {
    color: #333;
    font-size: 18px;
    font-weight: 600;

}


a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 400;
}


li {
    font-size: 17px;
    font-weight: 500;
}

p {
    color: #575757;
    font-size: 17px;
    font-weight: 500;
}


/*Services Section*/

.our-services-section .card {
    border-radius: 14px;
    background: #fff;
    box-shadow: 0px 1px 30px 0px rgba(124, 124, 124, 0.15);
    cursor: pointer;
    padding: 30px 30px 30px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.3s ease-in-out;
}


.our-services-section h6 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.our-services-section .card:hover {
    background-color: #FAF1FF;
    box-shadow: 0px 4px 20px 0px rgba(177, 51, 255, 0.20);
}

.our-services-section .features-icon {
    padding: 16px;
    background-color: #F6E4FF;
    border-radius: 10px;
}


/*Services Section End*/



/*Impact of Data and AI*/

.slider {
    aspect-ratio: 16/9;
    overflow: hidden;
}

.slider .slide {
    display: none;
    top: 0;
    left: 0;
    height: 100% !important;
}


.aspect-ratio-container {
    overflow: hidden;
    aspect-ratio: 16/9;
}





video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.aspect-ratio-container .play-button .play {
    top: 50%;
    left: 50%;
}


input[type="radio"] {
    display: none;
}


.aspect-ratio-container .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.play-button:hover {
    opacity: 1;
}

.videoImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}

.slider {
    display: flex;
    transition: left 0.3s ease;

}


.slide {
    flex: 0 0 100%;
}

/*Impact of Data and AI End*/


/*Slick Slider*/

.slick-slide {
    margin-right: 18px;
    height: auto;
    display: flex;
    align-items: stretch;
}

.slick-slide .card {
    flex: 1;
}

.card-body {
    padding: 30px;
    height: 100%;
}


.slider-para {
    margin-bottom: 40px;

}

.green {
    color: #65B61A;

}

.orange {
    color: orange;
}

/*Slick Slider End*/


/*Our Partner */

.logo-wrapper {
    width: 240px;
    background-color: #fafafa;
    border-radius: 14px;
    flex-direction: column;
    gap: 10px;
}

/*Our Partner End*/

/*Powered by Technology. Driven by Knowledge.*/

.powered-heading {
    margin-top: 32px;
    margin-bottom: 30px;
}



/*Powered by Technology. Driven by Knowledge End.*/

/*Footer*/

.custom-footer-bg {
    background-color: #FAF1FF;
}

.footer-heading {
    margin-bottom: 30px;
}

.footer-section {

    margin-top: 100px;
    margin-bottom: 30px;
}

footer ul li a{
    color:  #575757;

    font-size: 16px;
    font-weight: 400;
    padding: 6px 0;
    display: inline-block;
}


.dropdown-toggle::after {
    display: none;
}

.border-right{
    border-right: 1px solid #575757;
    padding-right: 20px;
}



/*Footer End*/


/*Button Style*/


.btn {
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 30px !important;
    transition: all .4s ease-in-out;
    color: #fff;
    font-weight: 600;
    text-decoration: none;

}

.btn-icon:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.btn-border {
    border-right: 2px solid #C9C9C9;
    margin-right: 18px;
    padding-right: 18px;
}

.btn:hover {
    scale: 1;
}

#btn1 {
    border-radius: 500px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
}

.btn-secondary {
    background: linear-gradient(118deg, #D7EBFF 0%, #EDF6FF 100%) !important;
    color: #006CD2 !important;
    border: none;
}

.btn-primary {
    border-radius: 30px;
    background: #006CD2;
    padding: 12px 30px;

}

.button-gap {
    margin-right: 10px;
}

/*Button Style End*/


/*font size Custom*/

.fs-20 {
    font-size: 20px;
}

.fs-11 {
    font-size: 11px;
}

.fs-28 {
    font-size: 28px;

}

/*font size Custom End*/


/* Margin Custom */

.mb-80 {
    margin-bottom: 80px;
}

.mb-42 {
    margin-bottom: 42px;
}

/* Margin Custom End*/


/* Padding Custom */

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.py-top {
    padding-top: 150px;
}


.py-70 {
    padding-top: 70px;
}

/* Padding Custom End*/


.text-color {
    color: #006CD2;
}

input[type="radio"]:checked+.slide {
    display: flex;
}


.slick-arrow.previous {
    left: 0%;
    transform: translate(-50%, -50%);

}

.slick-arrow.next {

    right: 0;
    transform: translate(50%, -50%);

}

.slick-arrow {
    position: absolute;
    color: #B133FF;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    line-height: 40px;
    background: white;
    cursor: pointer;
    width: 56px;
    height: 56px;
    z-index: 1;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
}


.slick-dots {
    position: static;
    margin-top: 80px;
}

.slick-dots li button {
    background-color: #F6E4FF;
    width: 13px;
    height: 13px;
    border-radius: 50px;
}

.slick-dots li.slick-active button {
    background-color: #B133FF;
}

.slick-dots li button::before {
    content: none;

}

.slick-disabled {
    opacity: 0;
}

.slick-track {
    display: flex;
}

@media (max-width: 1025px) {

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 30px;

    }

    .logo-wrapper {
        max-width: 156px !important;
        gap: 1rem !important;
    }






    .py-100 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .fs-28 {
        font-size: 24px;
    }

    .card-body {
        padding: 20px 20px 20px 20px;
        height: 100%;
    }

    .carousel-button {
        display: none !important;
    }

    .slider-para {
        margin-bottom: 30px;

    }

    .slick-dots {
        margin-top: 60px;
    }

}

@media(max-width: 576px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px;
        margin-top: 1rem;
    }

    p {
        font-size: 16px;
    }

    .image-container {
        flex-basis: 100%;
    }

    .logo-wrapper {
        display: grid !important;
        max-width: 150px !important;
        width: 100%;

    }

    .our-partner {
        grid-template-columns: 1fr 1fr !important;
        justify-items: center !important;

    }

    .btn {
        margin-top: 0.4rem;
    }

    /* .mt-4 {
        display: flex;

    } */
    .footer-button {
        display: block;
        text-align: center;
    }

    .py-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-btn {
        display: inline-block !important;
        text-align: center;
    }

    .fs-28 {
        font-size: 21px;
    }

    .card-body {
        padding: 15px;
        height: 100%;
    }

    .slider-para {
        margin-bottom: 15px;
    }

    .slick-dots {
        margin-top: 50px;
    }
}